// COLORS FROM ANEBYHUS
$light_green: #abb6aa;
$petrol_blue: #02545f;
$dark_gray: #3B3B3B;
$light_gray: rgba(128, 128, 128, 1);
$light_gray_fade: rgba(128, 128, 128, 0.8);
$red_fade: rgba(196, 27, 27, 0.8);
